<h1>Welcome back, <%= @user.name %></h1>
<section id="reviews-archive">
	<% @user.reviews.each do |review| %>
		<div class="review-container">
			<strong><%= review.movie.title %></strong><br>
			<p>
				<%= review.description %>
			</p>
		</div>
	<% end %>
</section>