<h1>All Movies</h1>

<% if @movies %>
  <% @movies.each do |movie| %>
    <div class="col-xs-3"> 
      <%= link_to image_tag(movie.poster_url), movie_path(movie)%><br>
      <%= link_to("#{movie.title}", movie_path(movie)) %><br>

      <% if movie.stars.count != 0  %>
        <% sum = 0 %>
        <% movie.stars.each do |star| %> 
          <% sum += star.rating %>
        <% end %>
        <% average = sum/ movie.stars.count %>
        <p>Average Rating: <%= average %></p><br>
      <% else %>
        <p>No ratings</p>
      <% end %>

    </div>  
  <% end %>
<% end %>