<h1>All Movies</h1>

<% if @movies %>
  <% @movies.each do |movie| %>
    <div class="col-sm-8 text-left"> 
      <%= link_to image_tag(movie.poster_url), movie_path(movie)%>
      <%= link_to("#{movie.title}", movie_path(movie)) %>
    </div>  
  <% end %>
<% end %>