<!-- <h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
 -->

<div class="jumbotron text-center">
  <h1>Walker Film Reviews! <span class="glyphicon glyphicon-film"></span></h1>
  <p>Real Reviews on Reel Reviews!</p>

</div>
  
<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <p><a href="#">Home</a></p>
      <p><a href="#">Fan Favorites</a></p>
      <p><a href="#">Recent Releases</a></p>
      <p><a href="#">All Movies</a></p>

    </div>
    <div class="col-sm-8 text-left">
      <h1>Welcome</h1>
      <p>Please explore the movie reviews. We are constantly adding new features to give you an enjoyable, interactive, and reliable resource for the best movie reviews. Registered members may leave reviews and rate movies. Click the sign up button on the top to join! Or just browse around to see what other movie-goers have to say. Thank you... </p>
      <hr>
      <h3>New Releases</h3>


      <p>***insert new releases***</p>

      <h3>Fan Favorites</h3>


      <p>***insert fan-favs***</p>
    </div>
    
  </div>
</div>

